
body {
  background: #FFFFFF;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
}

/*--Header--*/

.header {
  background: #232536;
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 140px;
  height: 28px;
  padding-top: 25px;
  padding-bottom: 27px;
  display: flex;
  align-items: center;
}
.header-menu-flex {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.header-menu-list {
  display: flex;
}

.header-menu-item:not(:first-child) {
  margin-left: 25px;
}

.header-menu-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
  padding-top: 26px;
  padding-bottom: 26px;
}

.header-menu-link:hover,
.header-menu-link:focus {
  border-bottom: 1px solid orange;
  color: orange;
}

.header-button {
  padding: 16px 48px;
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
  width: 179px;
  height: 56px;
  margin-left: 32px;
  cursor: pointer;
  background-color: #FFFFFF;
  border: none;
}

/*--Hero--*/

.hero {
  background-image: url(../image/man-in-black-suit-wearing-eye-glasses-sitting-on-gray-sofa-using-macbook.jpg);
  margin-bottom: 128px;
  min-height: 720px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.hero-page {
}

.hero-page-h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 128px;
}

.hero-page-h1 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 2px;
  color: #FFFFFF;
  margin-top: 24px;
}

.hero-page-datetime {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  margin-top: 24px;
}

.hero-page-p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  margin-top: 16px;
}

.hero-page-button {
  padding: 16px 48px;
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
  background-color: #FFD050;
  border: none;
  margin-top: 48px;
  cursor: pointer;
}

.hero-page-button:hover {
  background: #EDC14A;
}

/*--Post--*/

.post {
  margin-bottom: 128px;
}

.post-flex {
  display: flex;
  width: 1280px;
}

/*--Featured Post--*/

.featured-post {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 2px;
  color: #232536;
  max-width: 733px;
}

.featured-post-h2 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 2px;
  color: #232536;
  margin-bottom: 32px;
}

.featured-post-block {
  border-width: 1px;
  border-style: double;
  border-color: grey;
  padding: 32px;
}

.featured-post-image {
  width: 669px;
  height: 352px;
}

.featured-post-datetime {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #4C4C4C;
  margin-bottom: 16px;
}

.featured-post-h3 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -1px;
  color: #232536;
  margin-bottom: 16px;
}

.featured-post-p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
  width: 551px;
  margin-bottom: 32px;
  letter-spacing: -0.1px;
}

.featured-post-button {
  padding: 16px 48px;
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
  background-color: #FFD050;
  border: none;
}

.featured-post-button:hover {
  background: #EDC14A;
}

/*--All Posts--*/

.all-post {
  width: 517px;
  margin-left: 32px;
}

.all-post-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.all-post-h2 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
  color: #232536;
}

.all-post-view {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #592EA9;
}

.all-post-li{
  text-decoration: none;
  padding-left: 32px;
  padding-right: 115px;
  padding-top: 32px;
  padding-bottom: 25px;
}

.all-post-li:hover {
  background: #FBF6EA;
}

.all-post-datetime {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #592EA9;
  margin-bottom: 8px;
}

.all-post-h4 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #232536;
  text-decoration: none;
}

/*--ABOUT US - Our mision--*/

.about-mission-img {
  display: block;
  margin-left: 
  auto;
}

.mission {
  margin-bottom: 128px;
}

.about-mision {
  background: #F4F0F8;

  display: flex;
}

.about-us {
  width: 515px;
  margin-left: 80px;
  margin-top: 96px;
  margin-bottom: 96px;
}

.about-us-h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #232536;
  margin-bottom: 24px;
}

.about-us-h3 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
  color: #232536;
  margin-bottom: 16px;
}

.about-us-p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
  margin-bottom: 16px;
}

.about-us-link {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #592EA9;
}

/*--Our mision--*/

.our-mision {
  width: 516px;
  margin-left: 61px;
  margin-top: 98px;
  margin-right: 108px;
  margin-bottom: 153px;
}

.our-mision-h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #232536;
  margin-bottom: 24px;
}

.our-mision-h3 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #232536;
  margin-bottom: 16px;
}

.our-mision-p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
  letter-spacing: 1px;
}

/*--Choose A Catagory--*/

.choose {
  margin-bottom: 128px;
}

.choose-catagory {
  width: 1280px;
}

.choose-catagory-flex {
  display: flex;
}

.choose-catagory-h2 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 2px;
  color: #232536;
  text-align: center;
  margin-bottom: 48px;
}

.choose-catagory-li {
  width: 296px;
  height: 228px;
  background: #F4F4F4;
  border-width: 1px;
  border-style: double;
  border-color: grey;
  
}

.choose-catagory-li:not(:first-child) {
  margin-left: 33px;
}

.choose-catagory-li:hover {
  background: #FFD050;
}

.choose-catagory-icon {
  width: 48px;
  height: 48px;
  padding-top: 32px;
  padding-left: 32px;
}

.choose-catagory-h3 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700px;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #232536;
  padding-top: 15px;
  padding-left: 32px;
}

.choose-catagory-p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
  padding-top: 5px;
  padding-left: 32px;
}

/*--Why we started--*/

.start {
  width: 1280px;
  margin-bottom: 112px;
}

.start-img {
  background-image: url(../image/close-up-photography-of-man-wearing-sunglasses.jpg);
  width: 949px;
  height: 705px;
}

.start-content {
  width: 706px;
  height: 584px;
  background: white;
}

.start-h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #232536;
  padding-top: 80px;
  padding-left: 80px;
  padding-bottom: 24px;
}

.start-h3 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -2px;
  color: #232536;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 16px;
}

.start-p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 32px;
}

.start-button {
  margin-left: 80px;
  margin-bottom: 80px;
}

/*--List of Authors--*/

.list-authors {
  text-align: center;
  width: 1280px;
  margin-bottom: 112px;
}

.list-authors-h2 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 2px;
  color: #232536;
  margin-bottom: 48px;
}

.list-authors-list {
  display: flex;
}

.list-authors-link {
  width: 296px;
  height: 324px;
  background: #F4F4F4;
  text-align: center;
  background: #F4F4F4;
}

.list-authors-link:not(:first-child) {
  margin-left: 32px;
}

.list-authors-link:hover {
  background: #FBF6EA;
}

.list-authors-image {
  margin-top: 48px;
  margin-bottom: 20px;
  width: 128px;
  height: 128px;
}

.list-authors-h3 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -1px;
  color: #232536;
  text-align: center
}

.list-authors-p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6D6E76;
  margin-bottom: 20px;
}

.social-icons {
  width: 112px;
  height: 16px;
  margin: 0 auto;
  display: flex;
}

.start-button {
  padding: 16px 48px;
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
  background-color: #FFD050;
  border: none;
}

.start-button:hover {
  background: #EDC14A;
}

/*--We are Featured in--*/

.featured {
  margin-bottom: 96px;
}

.featured-flex {
  display: flex;
  justify-content: center;
  width: 1237px;
  height: 52px;
  margin-left: 14px;
}

.featured-in-h2 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #6D6E76;
  width: 136px;
  border-width: 1px;
  border-style:dashed;
  border-color: #000000;
}

.featured-in-h2-1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6D6E76;
  opacity: 0.6;
}

.featured-in-list {
  display: flex;
  justify-content: center;
  width: 1015px;
  height: 32px;
  margin-left: 85px;
}

.featured-in-item {
  width: 160px;
  height: 32px;
}

.featured-in-item:not(:first-child) {
  margin-left: 75px;
}

/*--TESTIMONIALS--*/

.testimonials {
  margin-bottom: 128px;
}

.testimonials-0 {
  background: #FBF6EA;
  width: 1280px;
  display: flex;
}

.testimonials-1 {
  width: 349px;
  padding-left: 112px;
  padding-top: 92px;
  padding-bottom: 172px;
}

.testimonials-h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #232536;
  padding-bottom: 12px;

}

.testimonials-h3 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 2px;
  color: #232536;
  padding-bottom: 16px;
}

.testimonials-p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #232536;
  padding-bottom: 16px;
}

.testimonials-line {
  padding-left: 80px;
  padding-top: 80px;
}


.testimonials-h4 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #232536;
  width: 470px;
  padding-top: 80px;
  padding-left: 96px;
  padding-bottom: 121px;
}

.testimonials-flex {
  display: flex;
  width: 257px;
  padding-left: 96px;
}


.testimonials-icon {
  background: url(image.png);
  border-radius: 24px;
  float: left;
  margin-right: 16px;
}

.testimonials-name {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #232536;
  width: 193px;
}

.testimonials-location {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
  width: 114px;
}

.testimonials-button {
  display: flex;
  margin-left: 141px;
}
.testimonials-button-back {
  background: #FFFFFF;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  border: none;
  padding: 24px 14px;
}

.testimonials-button-next {
  background: #232536;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: none;
  padding: 32px 18px;
  margin-left: 24px;
}

/*--Join our team to be a part of our story--*/

.join {
  text-align: center;
  margin-bottom: 153px;
}

.join-content {
  width: 414px;
  text-align: center;
  margin: 0 auto;

}

.join-h2 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
  color: #232536;
  margin-bottom: 16px;
}

.join-p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #6D6E76;
  margin-bottom: 32px;
}

.join-button {
  padding: 16px 48px;
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
  background-color: #FFD050;
  border: none;
}

.join-button:hover {
  background: #EDC14A;
}

/*--Footer--*/

.footer {
  background: #232536;

}

.footer-head {
  display: flex;
  width: 1280px;
  padding-top: 58px;
  margin-bottom: 58px;
}

.footer-menu {
  margin-left: 700px;

}

.footer-menu-list {
  display: flex;
}

.footer-menu-item:not(:first-child) {
  margin-left: 24px;
}

.footer-menu-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
}

.footer-form {
  background: #FFFFFF;
  width: 1280px;
  opacity: 0.05;
  display: flex;
}

.footer-form-h2 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  display: flex;
  align-items: center;
  letter-spacing: -2px;
  color: #FFFFFF;
  margin-left: 64px;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 562px;
}

.footer-form-email {
  width: 323px;
  height: 56px;
  margin-left: 64px;
  margin-top: 84px;
  border-width: 1px;
  border-style: double;
  border-color: #6D6E76;
}

.footer-form-button {
  padding: 16px 48px;
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
  background-color: #FFD050;
  border: none;
  margin-left: 24px;
  margin-top: 84px;
}

.footer-form-button:hover {
  background: #EDC14A;
}

.footer-adress {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  opacity: 0.7;
  text-decoration: none;
}