/*
.clearfix {
  clear: both;
}

.text-center {
  text-align: center;
}
. fl {
 float: left;
}

.fr {
  float: right;
}
*/

body {
  background: #FFFFFF;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
}

/*--Header--*/

.header {
  background: #232536;
}

.header-logo {
  margin: 25px 620px 25px 0px;
}

.header-menu {
  margin: 25px 0px 25px 620px;
}

.header-menu a:hover {
  border-bottom: 1px solid orange;
}
.header-menu-list {
  display: flex;
}

.header-menu-item:not(:first-child) {
  margin-left: 25px;
}

.header-menu-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
}

.header-button {
  padding: 16px 48px;
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
  margin: 25px 0px 25px 32px;
}

/*--Main--*/

.main-page {
  background-image: url(../image/man-in-black-suit-wearing-eye-glasses-sitting-on-gray-sofa-using-macbook.jpg);
  height: 720px;
}

.main-page-h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 128px;
}

.main-page-h1 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 2px;
  color: #FFFFFF;
  margin-top: 24px;
}

.main-page-datetime {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  margin-top: 24px;
}

.main-page-p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  margin-top: 16px;
}

.main-page-button {
  padding: 16px 48px;
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
  background-color: #FFD050;
  border: none;
  margin-top: 48px;
}

.main-page-button:hover {
  background: #EDC14A;
}

/*--Featured Post--*/

.featured-post {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 2px;
  color: #232536;
  max-width: 733px;
}

.featured-post-h2 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 2px;
  color: #232536;
  margin-bottom: 32px;
}

.featured-post-block {
  border-width: 1px;
  border-style: double;
  border-color: grey;
}

.featured-post-image {
  margin: 32px;
  width: 669px;
  height: 352px;
}

.featured-post-datetime {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #4C4C4C;
  margin-left: 32px;
  margin-bottom: 16px;
}

.featured-post-h3 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #232536;
  margin-left: 32px;
  margin-bottom: 16px;
}

.featured-post-p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
  margin-left: 32px;
  margin-bottom: 32px;
}

.featured-post-button {
  padding: 16px 48px;
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
  background-color: #FFD050;
  border: none;
  margin-left: 32px;
  margin-bottom: 32px;
}

.featured-post-button:hover {
  background: #EDC14A;
}

/*--All Posts--*/

.all-post {
  width: 517px;
  height: 804px;
}

.all-post-h2 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
  color: #232536;
  margin-top: 32px;
}

.all-post-view {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #592EA9;
}

.all-post-li{
  text-decoration: none;
  width: 517px;
  height: 181px;
  padding-left: 32px;
}

.all-post-li:hover {
  background: #FBF6EA;
}

.all-post-datetime {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #592EA9;
  padding-top: 32px;
  margin-bottom: 8px;
}

.all-post-h4 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #232536;
  text-decoration: none;

}

/*--ABOUT US - Our mision--*/

.about-mision {
  background: #F4F0F8;
  width: 1280px;
  height: 500px;
  padding-top: 96px;
  padding-left: 80px;
  margin-bottom: 128px;
}

.about-us-h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #232536;
  margin-bottom: 24px;
}

.about-us-h3 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 2px;
  color: #232536;
  margin-bottom: 16px;
}

.about-us-p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
  margin-bottom: 16px;
}

.about-us-link {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #592EA9;
}

/*--Our mision--*/

.our-mision-h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #232536;
  margin-bottom: 24px;
}

.our-mision-h3 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #232536;
  margin-bottom: 16px;
}

.our-mision-p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
}

/*--Choose A Catagory--*/

.choose {
  width: 1280px;
  height: 324px;
  margin-bottom: 128px;
}

.choose-catagory-h2 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 2px;
  color: #232536;
  text-align: center;
  margin-bottom: 48px;
}

.choose-catagory-li {
  width: 296px;
  height: 228px;
  background: #F4F4F4;
  border-width: 1px;
  border-style: double;
  border-color: grey;
  float: left;
}

.choose-catagory-li:not(:first-child) {
  margin-left: 33px;
}

.choose-catagory-li:hover {
  background: #FFD050;
}

.choose-catagory-icon {
  width: 48px;
  height: 48px;
  padding-top: 32px;
  padding-left: 32px;
}

.choose-catagory-h3 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700px;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #232536;
  padding-top: 15px;
  padding-left: 32px;
}

.choose-catagory-p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
  padding-top: 5px;
  padding-left: 32px;
}

/*--Why we started--*/

.start {
  background-image: url(../image/close-up-photography-of-man-wearing-sunglasses.jpg);
  width: 945px;
  height: 705px;
  margin-bottom: 112px;
}

.start-h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #232536;
}

.start-h3 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -2px;
  color: #232536;
}

.start-p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
}

/*--List of Authors--*/

.list-authors {
  text-align: center;
  width: 1280px;
  height: 420px;
  margin-bottom: 112px;
}

.list-authors-h2 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 2px;
  color: #232536;
  margin-bottom: 48px;
}

.list-authors-list {
  display: flex;
}

.list-authors-link {
  width: 296px;
  height: 324px;
  background: #F4F4F4;
  text-align: center;
  background: #F4F4F4;
}

.list-authors-link:not(:first-child) {
  margin-left: 32px;
}

.list-authors-link:hover {
  background: #FBF6EA;
}

.list-authors-image {
  margin-top: 48px;
  margin-bottom: 20px;
  width: 128px;
  height: 128px;
}

.list-authors-h3 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -1px;
  color: #232536;
  text-align: center
}

.list-authors-p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6D6E76;
  margin-bottom: 20px;
}

.social-icons {
  width: 112px;
  height: 16px;
  margin: 0 auto;
  display: flex;
}

.start-button {
  padding: 16px 48px;
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
  background-color: #FFD050;
  border: none;
}

.start-button:hover {
  background: #EDC14A;
}

/*--We are Featured in--*/

.featured {
  width: 1237px;
  height: 52px;
  margin-bottom: 96px;
}

.featured-in-h2 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #6D6E76;
  width: 136px;
  height: 52px;
}

.featured-in-h2-1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6D6E76;
  opacity: 0.6;
}

.featured-in-list {
  display: flex;
}

.featured-in-item {
  width: 160px;
  height: 32px;
}

/*--TESTIMONIALS--*/

.testimonials {
  background: #FBF6EA;
  max-width: 1280px;
  margin-bottom: 128px;
}

.testimonials-h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #232536;
}

.testimonials-h3 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 2px;
  color: #232536;
}

.testimonials-p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #232536;
}

.testimonials-h4 {
font-family: 'Sen';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
color: #232536;
}

.testimonials-icon {
background: url(image.png);
border-radius: 16px;
}

.testimonials-name {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #232536;
}

.testimonials-location {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
}

.testimonials-button-back {
  background: #FFFFFF;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  border: none;
  padding: 24px 14px;
}

.testimonials-button-next {
  background: #232536;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: none;
  padding: 32px 18px;
}

/*--Join our team to be a part of our story--*/

.join {
  text-align: center;
  margin-bottom: 153px;
}

.join-h2 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
  color: #232536;
  margin-bottom: 16px;
}

.join-p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #6D6E76;
  margin-bottom: 32px;
}

.join-button {
  padding: 16px 48px;
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
  background-color: #FFD050;
  border: none;
}

.join-button:hover {
  background: #EDC14A;
}

/*--Footer--*/

.footer {
  background: #232536;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-head {
}

.footer-logo {
  padding: 60px 0px;
  margin-top: 0px;
  margin-left: 0px;
}

.footer-menu {
  margin-top: 0px;
  margin-right: 0px;
}

.footer-menu-list {
  display: flex;
}

.footer-menu-item:not(:first-child) {
  margin-left: 24px;
}

.footer-menu-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  float: left;
  text-decoration: none;
}

.footer-form {
  background: #FFFFFF;
  width: 1280px;
  height: 256px;
  margin-top: 55px;
  /*background: #FFFFFF;
  opacity: 0.05;*/
}

.footer-form-h2 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  display: flex;
  align-items: center;
  letter-spacing: -2px;
  color: #FFFFFF;
  margin: 80px 64px;
  width: 562px;
  height: 96px;
}

.footer-form-email {
  width: 323px;
  height: 56px;
}

.footer-form-button {
  padding: 16px 48px;
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
  background-color: #FFD050;
  border: none;
}

.footer-form-button:hover {
  background: #EDC14A;
}

.footer-adress {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  opacity: 0.7;
  text-decoration: none;
}

/* 
li {
  float: left;
} */