/*
.clearfix {
  clear: both;
}

.text-center {
  text-align: center;
}
. fl {
 float: left;
}

.fr {
  float: right;
}
*/



body {
  background: #FFFFFF;
}



.container {
  width: 1440px;
  overflow: auto;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
}



.header {
  background: #232536;
}

.header-logo {
  padding: 25px 0px;
}

.header-menu {
  margin-left: 620px;
}
/*
.header-menu-list {

}
*/
.header-menu-item:not(:first-child) {
  margin-left: 25px;
}

.header-menu-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
}

.header-button {
  padding: 16px 48px;
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
}

.main-page-h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main-page-h1 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.main-page-datetime {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #FFFFFF;
}

.main-page-p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
}

.main-page-button {
  padding: 16px 48px;
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
  background-color: #FFD050;
  border: none;
}

.main-page-button:hover {
  background: #EDC14A;
}

.featured-post {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 2px;
  color: #232536;
}

.featured-post-datetime {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #4C4C4C;
}

.featured-post-h2 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 2px;
  color: #232536;
}

.featured-post-h3 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #232536;
}

.featured-post-p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
}

.featured-post-button {
  padding: 16px 48px;
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
  background-color: #FFD050;
  border: none;
}

.featured-post-button:hover {
  background: #EDC14A;
}

.all-posts-h2 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
  color: #232536;
}

.view-all-post {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #592EA9;
}

.all-post-datetime {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #592EA9;
}

.all-post-h4 {
font-family: 'Sen';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
color: #232536;
}

.about-us-h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #232536;
}

.about-us-h3 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 2px;
  color: #232536;
}

.about-us-p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
}

.about-us-link {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #592EA9;
}

.our-mision-h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #232536;
}

.our-mision-h3 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #232536;
}

.our-mision-p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
}

.choose-catagory {
}

.choose-catagory-h2 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 2px;
  color: #232536;
}

.choose-catagory-h3 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #232536;
}

.choose-catagory-p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
}

.start-h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #232536;
}

.start-h3 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -2px;
  color: #232536;
}

.start-p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
}

.list-authors-h2 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 2px;
  color: #232536;
}

.list-authors-h3 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -1px;
  color: #232536;
}

.list-authors-p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6D6E76;
}

.start-button {
  padding: 16px 48px;
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
  background-color: #FFD050;
  border: none;
}

.start-button:hover {
  background: #EDC14A;
}

.featured-in-h2 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #6D6E76;
}
.featured-in-h2-1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6D6E76;
  opacity: 0.6;
}

.testimonials-h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #232536;
}

.testimonials-h3 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 2px;
  color: #232536;
}

.testimonials-p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #232536;
}

.testimonials-h4 {
font-family: 'Sen';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
color: #232536;
}

.testimonials-icon {
background: url(image.png);
border-radius: 16px;
}

.testimonials-name {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #232536;
}

.testimonials-location {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
}

.testimonials-button-back {
  background: #FFFFFF;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  border: none;
  padding: 24px 14px;
}

.testimonials-button-next {
  background: #232536;
  width: 62px;
  height: 62px;
  border-radius: 50px;
  border: none;
  padding: 32px 18px;
}

.join-h2 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2px;
  color: #232536;
}

.join-p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #6D6E76;
}

.join-button {
  padding: 16px 48px;
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
  background-color: #FFD050;
  border: none;
}

.join-button:hover {
  background: #EDC14A;
}



.footer {
  background: #232536;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  padding: 60px 0px;
}

footer-menu {
  margin-left: 700px;
}
/*
.footer-menu-list {

}
*/
.footer-menu-item:not(:first-child) {
  margin-left: 25px;
}

.footer-menu-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.footer-form {
  background: #6D6E76;
  width: 1280px;
  height: 256px;
}

.footer-form-h2 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  display: flex;
  align-items: center;
  letter-spacing: -2px;
  color: #FFFFFF;
}

.footer-form-email {
  width: 323px;
  height: 56px;
}

.footer-form-button {
  padding: 16px 48px;
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
  background-color: #FFD050;
  border: none;
}

.footer-form-button:hover {
  background: #EDC14A;
}

